$bg: #FEF6E5;
$fg: #88461C;
$fg-dimmed: #c08a69;

$surface: #ffebb4;
$surface-hover: #fcf2d6;

$outline: #6F3F17;
$outline-dimmed: #6F4418;

$accent: #FBD974;
$accent-dimmed: #B69354;
$accent-alt: #D98F44;
$accent-dimmed: #B5712C;

$radius: 5px;
$transition: all 0.2s ease-in-out;
